.full-height {
  height: 100% !important;
}
.footer {
  height: 50px;
  border-bottom: 1px solid #44BBC0;
  border-right: 1px solid #44BBC0;
  border-left: 1px solid #44BBC0;
  width: 100%;
}

.header {
  height: 40px;
  border-bottom: 1px solid #44BBC0;
}

.chat-content {
  height:300px;
  border: 1px solid #44BBC0;
  border-right-width: 2px !important;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
}
.no-padding {
  padding : 0 !important;
}

.button-send {
  background: #E3EEEE !important;
  color: #3F4A59 !important;
}
.input-send {
  border: 0;
  width: 100%
}
.message-user {
  text-align: right;
}

.margin-text {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.background-from {
  background: aliceblue;
}

.background-to {
  background: beige;
}
